boto3==1.17.43
botocore==1.20.43
fastapi==0.63.0
jmespath==0.10.0
numpy==1.20.2
pandas==1.2.3
pydantic==1.8.1
python-dateutil==2.8.1
pytz==2021.1
s3transfer==0.3.6
six==1.15.0
starlette==0.13.6
typing-extensions==3.7.4.3
urllib3==1.26.4
bson==0.5.10
luigi==3.0.2
uvicorn==0.11.8
uvloop==0.14.0
aiohttp==3.6.2
pymongo==3.11.3
